/* Header.module.scss */

.TransparentArticle {
    position: absolute;
    top: 100%; /* Adjust the vertical position as needed */
    left: 50%; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%);
    width: 100%; /* Adjust the width as needed */
    background-color: rgba(19, 21, 19, 0.7); /* Set alpha to 0.7 for 70% transparency */
    padding: 20px;
    text-align: center;
    height: 45%;
  
    h2 {
      font-size: 2em; /* Adjust the font size as needed */
      text-align: center;
      font-weight: 100;
      margin-bottom: 10px;
      color: white;
      text-transform: uppercase;
    }
  
    .paragraph {
      position: relative; /* Change to relative for proper flow in the document */
      text-align: left;
      color: white;
      font-size: 1em;
      padding: 2em 30em 1em 30em; /* Top, right, bottom, left padding */
      margin: 0 1em; /* right and left */
    }
  }
  