/* Header.module.scss */

.Hero {
    /* Styles for the hero section */
    background-image: url('../../../assets/img/Hero_image.jpg');
    /* Adjust the path based on the location of your SCSS file */
    height: 100vh; /* Set the height to the viewport height */
    background-attachment: fixed; /* Add this line for parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 300px;
    text-align: center;
    margin: 0;
  
    h1 {
      font-size: 6em;
      font-weight: 100;
      margin-bottom: 10px;
    }
  }
  